.Sometimes_Practice_logo {
    font-family: 'Pacifico', cursive;
}
.Sometimes_Practice_footer {
    text-align:center; margin-top: 2rem;
}

.Sometimes_Practice_header {
    text-align:center; margin: 2rem 0;
}

.Sometimes_Practice_footer_button {
    font-size: .7rem;
}
